<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/starter-temp.css') }}">

    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">BeeReal</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('inventory_page') }}">Inventory<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stores">Stores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('role') }}">Role</a>
            </li>
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Order History
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/a1">A1</a>
                    <a class="dropdown-item" href="#">A2</a>
                    <a class="dropdown-item" href="#">A3</a>
                    <a class="dropdown-item" href="#">A4</a>
                    <a class="dropdown-item" href="#">A5</a>
                    <a class="dropdown-item" href="#">A6</a>
                    <a class="dropdown-item" href="#">A7</a>
                    <a class="dropdown-item" href="#">A8</a>
                    <a class="dropdown-item" href="#">A9</a>
                    <a class="dropdown-item" href="#">A10</a>
                    <a class="dropdown-item" href="#">A11</a>

                </div>
            </div>
        </ul>
        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">

                    <a class="nav-link" href="{{ path('logout') }}">Welcome {{ app.user.username }} LOGOUT </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register_form') }}">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('login_form') }}">LOGIN</a>
                </li>
            {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0" role="search" action="{{ path('search_page') }}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q"/>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main>
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-info" role="alert">
            {{ msg }}
        </div>
    {% endfor %}

    {% block content %}
    {% endblock content %}
</main>


<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="{{ asset('js/jquery-3.1.1.slim.min.js') }}"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/tether.min.js') }}"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>